:root {
	--title-color: #fff; //Цвета заголовков.
	--text-color: #fff; //Цвета текста.
	--link-color: #fff; //Цвета ссылок.

	--main-bg-color: #fff; //Основной цвет фона.
	--second-bg-color: #4d4d4d; //Второстепенный цвет фона.

	--btn-main-color: #fff; //Цвет основной кнопки.
	--btn-second-color: #fff; //Цвет второстепенной кнопки.
}

//Шрифты
@font-face {
	font-family: 'Gilroy';
	src: url(/fonts/Gilroy-Light.otf);
}

html {
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}
